section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #396039;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}