.container {
    color: #1E5515;
    padding: 136px 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    margin: 56px 0;
    max-width: 760px;
    width: 100%;

}

h3 {
    margin: 0;
    padding-bottom: 56px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;

    >fieldset {
        padding: 0 24px;

        >legend {
            font-weight: 500;
            font-size: 20px;
            color: #10310B;
            margin: 0;
        }
    }


}

.checkbox-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(57, 96, 57, 0.2);
    padding: 32px 24px;
    border-radius: 20px;
    width: calc(100% - 48px);

    >fieldset {
        >legend {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 24px;

            >span {
                font-weight: 500;
                font-size: 24px;
                color: #10310B;
                margin-left: 2px;
            }
        }
    }
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 24px;
    gap: 2px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.options label {
    display: inline-block;
    background-color: rgba(250, 240, 230, 1);
    border-radius: 30px;
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    font-weight: 500;
    color: #1E5515;
    transition: all 0.3s ease;

    &:hover {
        background-color: #FAE0C6;

    }
}

/* Checkbox unsichtbar */
.options input[type="checkbox"] {
    display: none;
}

/* Wenn ausgewählt */
.options input[type="checkbox"]:checked+label,
.options label:has(input[type="checkbox"]:checked) {
    background-color: rgba(57, 96, 57, 0.2);
    color: #10310B;
}

fieldset {
    border: none;
    padding: 0;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    >button {
        margin-top: 56px;
    }
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    >span {
        font-size: 14px;
        color: #1E5515;
        font-weight: 500;
    }
}

.decrease-button {
    background-image: url('../../../public/img/minus.png');
    border: none;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-image: url('../../../public/img/minus_hover.png');
    }

    &:active {
        background-image: url('../../../public/img/minus_click.png');
    }

}

.increase-button {
    background-image: url('../../../public/img/plus.png');
    border: none;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-image: url('../../../public/img/plus_hover.png');
    }

    &:active {
        background-image: url('../../../public/img/plus_click.png');
    }

}


.count-btn-div {

    padding-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    >span {
        font-size: 20px;
        font-weight: 500;
        color: #10310B;
    }

    >input {
        border: none;
        background-color: rgba(57, 96, 57, 0.2);
        height: 20px;
        width: 22px;
        font-size: 20px;
        font-weight: 500;
        color: #10310B;
        text-align: center;
        cursor: default;

        &:focus {
            outline: none;
        }
    }




}

/* Entfernt die Pfeile in Chrome, Edge, Safari */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}